*{
  margin: 0;
  padding: 0;
}

.main-container{
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: rgb(247, 247, 247);
}

.nav-md{
  display: none;
}

/*mobile nav bar*/

.nav-sm{
  margin: 30px;
  margin-top: 30px;
  display: inline;
}

.nav-sm img{
width: 200px;
}

.span{
  display: inline;
  position: absolute;
  font-size: 20px;
  top: 8%;
  right: 5%;
  cursor:pointer;
  color: rgba(0, 64, 148, 0.993);
  background-color: rgba(0, 127, 201, 0.527);
  border-radius: 5px;
  padding: 5px 15px;
  z-index: 1;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: right;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

/*end mobile nav bar*/

.grid-container{
display: grid;
grid-template-columns:1fr;
grid-template-areas:
 'one'
 'two'
 'three'
 'four'
 'five'
 'six';
height: 100vh;
gap: 7px;
background-color:rgb(255, 255, 255);
}

.items{
background-color: rgb(43, 128, 226);
min-height: 150px;
border-radius: 2px;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
}

.items span{
  background-color: rgba(0, 0, 0, 0.473);
  margin: 5px 5px;
  border-radius: 5px;
}

.inner-bg{
  height: 100%;
}

.items a{
  color: white;
  text-decoration: none;
  width: auto;
  height: 100%;
}

.items a:hover{
  color: rgb(6, 255, 243);
}

.items:nth-child(1) {
grid-area: one;
background-image: url('../images/grid1.PNG');
background-size: cover;
background-repeat: no-repeat;
transition: background-image .5s;
color: aliceblue;
}

.items:nth-child(2) {
grid-area: two;
background-image: url('../images/grid2.PNG');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
transition: background-image .8s;
color: azure;
}

.items:nth-child(3) {
grid-area: three;
background-image: url('../images/grid3.PNG');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
color: aquamarine;
transition: background-image .5s;
}

.items:nth-child(4) {
grid-area: four;
background-image: url('../images/grid4.PNG');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
color: rgb(112, 209, 0);
transition: background-image .5s;
}

.items:nth-child(5) {
grid-area: five;
background-image: url('../images/grid5.PNG');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
color: bisque;
transition: background-image .5s;
}

/* .items:nth-child(5) > a, .items:nth-child(6) > a{
  text-decoration: none;
  color:#fff;
}

.items:nth-child(5) > a:hover, .items:nth-child(6) > a:hover{
  color: rgb(6, 139, 255);
} */

.items:nth-child(6) {
grid-area: six;
background-image: url('../images/grid6.PNG');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
color: rgb(255, 47, 193);
transition: background-image .5s;
}

.content-container{
  margin: 5px;
  height: 100vh;
  background-color:rgb(238, 238, 238);
  }

  .collection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .c-width{
    width:29%;
    margin-left: 13px;
    margin-top: 10px;
  }

  .c-width > a{
    text-decoration: none;
  }

/*create page*/

input[type="file"]{
  display: block;
  width: 80%;
  height: 350px;
  opacity: 0;
  z-index: 1;
}

.createflex{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.upload{
  cursor: pointer;
}

/*create page*/

@media screen and (min-width:480px){

.grid-container { /*landing page layout*/
  display: grid;
  grid-template-columns:1fr 1fr;
  height: 100vh;
  grid-template-areas:
  "one one"
  "two three"
  "four five"
  "six six";  
}

.items{
  margin: 0;
}

/*collections page*/
.collection{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.c-width{
  width: 26%;
  margin-left: 30px;
  margin-top: 10px;
}

}


@media screen and (min-width : 750px){

  .grid-container { /*landing page layout*/
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-areas:
    "one two three three"
    "four four three three"
    "four four five six";
    height: 100%;
    width: 99.8%;
  }

  .nav-sm{
    display: none;
    position: relative;
  }

  .nav-md{
    display: flex;
    flex-direction: row;
    background-color: rgb(247, 247, 247);
    padding: 20px 0;
    font-weight: 600;
  }

  .nav-md img{
    margin-left: 20px;
    width: 25%;
  }

  .horizontal-nav{
    display: inline;
    text-align: right;
    position: absolute;
    top:80px;
    right: 20px;
  }

  .horizontal-nav > a{
    text-decoration: none;
    font-size: 18px;
    color: rgba(0, 48, 204, 0.658);
    margin: 15px 0;
    padding: 10px 10px;
}

.horizontal-nav > a:hover{
  transition: 0.3s;
  color: rgb(0, 101, 252);
  border-radius: 15px;
}

.active{
  background-color: rgb(0, 224, 253);
  border-radius: 20px;
  color: #fff;
}

  .social{
    display: none;
  }

  .collection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .c-width{
    width: 27%;
    margin-left: 35px;
    margin-top: 20px;
  }

}

@media screen and (min-width:765px){
  .horizontal-nav{
    right: 30px;
  }
}

/*tablet screen size to desktop*/
@media screen and (min-width : 950px) {

.main-container{
  display: flex;
  flex-direction: row;
  width: 100%;
}

  .overlay{
    display: none;
  }

  .nav-sm{
    display: none;
  }

  .nav-md{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 20%;
    align-items: center;
    text-align: center;
    overflow-y:scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }

  .nav-md::-webkit-scrollbar {
    display: none;
  }

  .nav-md img{
    width: 60%;
    margin: 40px 0 50px 0;
  }

  .horizontal-nav{
    display: block;
    position:initial;
    text-align: center;
  }

  .horizontal-nav > a{
    display: block;
    text-decoration: none;
    font-size: 18px;
    color: rgba(0, 48, 204, 0.658);
    margin: 15px 0;
    padding: 10px 10px;
}

.horizontal-nav > a:hover{
  transition: 0.3s;
  color: rgb(0, 101, 252);
  border-radius: 15px;
}

.social{
  display: block;
  width: 100%;
  margin-top: 30%;
}

.social ul{
  text-align: center;
  padding: 0;
}

.social li{
  display: inline;
}
.social a{
  padding: 0;
  margin:0 10px;
  color: rgb(233, 0, 213);
  font-size: 25px;
}
.social a:hover{
  color: rgb(158, 0, 221);
}

.grid-container {
display: grid;
grid-template-columns:repeat(4, 1fr);
grid-template-areas:
"one two three three"
"four four three three"
"four four five six";
height: 100%;
width: 99.8%;
}

.items{
  background-color: rgb(43, 128, 226);
  margin: 0px;
}

.items:nth-child(1):hover {
  background-image: url('../images/grid11.PNG');
  transition: background-image .5s;
}

.items:nth-child(2):hover {
  background-image: url('../images/grid22.PNG');
  transition: background-image .5s;
}

.items:nth-child(3):hover {
  background-image: url('../images/grid33.PNG');
  transition: background-image .5s;
}

.items:nth-child(4):hover {
  background-image: url('../images/grid44.PNG');
  transition: background-image .5s;
}

.items:nth-child(5):hover {
  background-image: url('../images/grid55.PNG');
  transition: background-image .5s;
}

.items:nth-child(6):hover {
  background-image: url('../images/grid66.PNG');  
  transition: background-image .5s;
}

.content-container{
  width: 88%;
  margin: 0;
}

.collection{
  width: 85%;
  height: 99.8vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.c-width{
  width: 43%;
  margin-left: 40px;
  margin-top: 20px;
}

}
/*end*/

@media screen and (min-width : 1233px ){
  .c-width{
    width: 21%;
    margin-left: 40px;
  }
}


/*overiding bootstrap rules or additional rules in each page*/

/*contact page*/
.bg{
  background-image: url('../images/bg-contact.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  background-color: black;
  overflow-y:scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.bg::-webkit-scrollbar {
  display: none;
}

.text-contact{
  color: rgb(245, 245, 245);
  background-color: rgba(44, 44, 44, 0.9);
  border-radius: 10px;
  padding: 5px;
}

.icon-contact{
  color: rgb(0, 252, 210);
}
/*end contact page*/
/*collection page*/
.collection{
  height: 100%;
}

.text-biege{
  color: rgba(73, 73, 73, 0.61);
}

.img-offcanvas{
  width: 60%;
}
/*end collection*/
/*start services*/